* text=auto eol=lf

*.j2      text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.md      text eol=lf whitespace=blank-at-eol,-blank-at-eof
*.yml     text eol=lf whitespace=blank-at-eol,-blank-at-eof
